.AddTodoBox{
  width: 50%;
  margin: 20px auto;
  border: 2px solid #EE6E73;
  padding: 10px;
}
.AddTodoBox h4{
  background-color: #EE6E73;
  color: white;
  padding: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
